#header{
    background: #EE7315;
    color: white
}

#header a{
    color: white
}

#header button{

}

#home .overlay img {
    position: absolute;
    max-height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.3);
    object-fit: cover;
    filter: grayscale(20%);
    opacity: 90%;
}

#home .overlay a, button {
    position: absolute;
    top: 60vh;
}

#home .carousel-inner h3 {
    color:rgb(116, 127, 143);
    min-height: 85vh;
}

#home .carousel-item {
    top: 25vh;
}

#carousel {
    position: relative;
}

#footer{
    background: #5A5A5A;
    color: white
}
