#header{
    background: #EE7315;
    color: white
}

#header a{
    color: white
}

#home .carousel-inner img {
   max-height: 75vh; 
   object-fit: cover;
   filter: grayscale(20%);
}

#footer{
    background: #5A5A5A;
    color: white
}
