@font-face {
    font-family: 'Gabriola';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/gabriola_font.woff') format('woff');
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}
